.payment-success-header-container {
    position: relative;
    margin-top: 68px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment-success-header-content {
    position: static;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
    width: 700px;
    padding: 20px 0;
}

.payment-success-header-content > h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 8px;
}

@media only screen and (max-width: 600px) {
    .payment-success-header-content {
        width: 100%;
    }

    .payment-success-header-content {
        padding: 20px;
    }
}
