:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ef5222;
    --primary-blur-color: #2140ee0d;
    --secondary-color: #ec2029;
    --border-color: hsl(0, 0%, 86%);
    --header-height: 67px;
}

/* Custom scroll */
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    touch-action: manipulation;
}

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: var(--white-color);
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 1px solid #ccc;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}

body {
    -moz-user-select: none !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) #ccc;
}

.container {
    padding: 0 20px;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', 'Poppins' sans-serif;
    scroll-behavior: smooth;
}

/* Responsive */
.grid {
    position: relative;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.667%;
}

.grid__column-2-4 {
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
}

.grid__column-3 {
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
}

.grid__column-3-default {
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}

.grid__column-4 {
    padding-left: 20px;
    padding-right: 20px;
    width: 33.3334%;
}

.grid__column-4-default {
    padding-left: 5px;
    padding-right: 5px;
    width: 33.3334%;
}

.grid__column-5 {
    padding-left: 5px;
    padding-right: 5px;
    width: 41.66%;
}

.grid__column-6 {
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
}

.grid__column-7 {
    padding-left: 5px;
    padding-right: 5px;
    width: 58.33%;
}

.grid__column-8 {
    padding-left: 5px;
    padding-right: 5px;
    width: 66.66%;
}

.grid__column-9 {
    padding-left: 5px;
    padding-right: 5px;
    width: 75%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

.grid__column-11 {
    padding-left: 5px;
    padding-right: 5px;
    width: 91.667%;
}

.grid__column-12 {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-form));
    }

    to {
        transform: scale(var(--growth-to));
    }
}

@keyframes fadeInGrowth {
    from {
        opacity: 0;
        transform: scale(var(--growth-form));
    }

    to {
        opacity: 1;
        transform: scale(var(--growth-to));
    }
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field button {
    color: #fff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.field input {
    position: relative;
    background-color: transparent;
    border: none;
    display: block;
    flex: 1 1;
    font-size: 1.4rem;
    outline: none;
    padding: 12px 20px;
}

.field input:focus {
    border-color: rgb(141, 139, 139);
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.form-link {
    text-align: center;
    margin-top: 12px;
}

.form-link span,
.form-link a,
.form-link span a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form a,
.form-link a,
.form-link .signup-link,
.form-link .login-link {
    color: rgb(0, 182, 243);
    text-decoration: none;
}

.login-link {
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.form-content a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 20px 0;
    background-color: #d4d4d4;
}

.line::before {
    content: 'Hoặc';
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #8b8b8b;
    padding: 0 15px;
}

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

a.facebook {
    color: rgb(16, 20, 27);
    border: 1px solid rgb(160, 174, 192);
}

.facebook-icon {
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 28px;
    font-weight: 500;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: none;
}

.google-img {
    height: 28px;
    width: 28px;
    font-size: 28px;
    font-weight: 500;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: none;
}

.facebook-icon,
.google-img {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

img.google-img {
    height: 28px;
    width: 28px;
    object-fit: cover;
    background-color: transparent;
}

a.google {
    color: rgb(16, 20, 27);
    border: 1px solid rgb(160, 174, 192);
}

a.google span,
a.facebook span {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}

a.facebook span {
    padding-left: 25px;
}

a.google span {
    padding-left: 8px;
}

.form-message {
    font-size: 1.3rem;
    line-height: 1.4rem;
    padding: 6px 0 0;
    float: left;
    color: var(--primary-color);
}

.field .invalid {
    border-color: var(--primary-color);
}

/* Button */
.btn {
    align-items: center;
    color: var(--white-color);
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.btn--medium {
    width: 140px;
    height: 40px;
    font-size: 16px;
}

.btn--small {
    width: 80px;
    height: 30px;
    font-size: 12px;
}

.btn--large {
    width: 290px;
    height: 48px;
    font-size: 18px;
    border-radius: 24px;
    font-weight: 500;
    line-height: 24px;
}

.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn--secondary {
    color: var(--white-color);
    background-color: var(--secondary-color);
}

.btn--hollow {
    border: 1px solid var(--border-color);
    color: var(--text-color);
    background-color: var(--white-color);
}

.btn--hollow:hover {
    background: rgba(0, 0, 0, 0.02);
}

.btn-icon-search {
    color: var(--white-color);
    font-size: 20px;
    text-align: center;
}

.search-btn {
    display: flex;
    border-radius: 8px;
    background-color: var(--primary-color);
    border: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 40%);
    position: absolute;
    right: 50px;
    font-size: 16px;
    line-height: 16px;
    top: 155px;
    text-align: center;
    color: #fff;
    padding: 10px 16px;
    cursor: pointer;
    height: 25%;
}

.search-btn:hover {
    transform: translateY(-1px);
    opacity: 1;
}

.btn-search {
    margin: 5px 0px 0px 10px;
}

.btn__remove {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.7142857142857142rem;
    text-align: center;
    background-color: #fff;
    border: none;
}

.btn-auth {
    background: lighten(red, 3%);
    border: 1px solid darken(red, 4%);
    box-shadow: 0px 2px 0 darken(red, 5%), 2px 4px 6px darken(red, 2%);
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 150ms linear;
}

.btn-auth:hover {
    background: darken(red, 1.5%);
    border: 1px solid rgba(#000, 0.05);
    box-shadow: 1px 1px 2px rgba(#fff, 0.2);
    color: lighten(red, 18%);
    text-decoration: none;
    text-shadow: -1px -1px 0 darken(red, 9.5%);
    transition: all 250ms linear;
}

/* Calender */

.rotate {
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

/* Form place */
.form-place {
    --growth-form: 0;
    --growth-to: 1;
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    margin-top: 14px;
    padding: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px var(--text-color);
    transform-origin: calc(0% + 32px) 0;
    animation: fadeInGrowth ease-in 0.2s;
    will-change: opacity, transform;
    z-index: 1;
    display: none;
}

.form-place::before {
    position: absolute;
    content: '';
    top: -14px;
    left: 20px;
    border-left: 20px solid transparent;
    border-bottom: 14px solid rgba(0, 0, 0, 0.01);
    border-right: 20px solid transparent;
}

.form-place::after {
    position: absolute;
    content: '';
    top: -10px;
    left: 20px;
    border-left: 20px solid transparent;
    border-bottom: 14px solid var(--white-color);
    border-right: 20px solid transparent;
}

.form-place-list {
    margin-top: 8px;
    list-style: none;
    max-height: 40vh;
    overflow-y: auto;
}

.form-place-item {
    font-size: 1.4rem;
    height: 44px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
    transition: linear 0.1s;
}

.form-place-item:hover {
    background-color: var(--primary-blur-color);
    border-left: 4px solid var(--primary-color);
}

/* Animation underline */
.underline::before {
    content: '';
    position: absolute;
    width: 0;
    right: 50%;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
}

.underline::after {
    content: '';
    position: absolute;
    width: 0;
    left: 50%;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
}

/* Input */
input {
    -webkit-touch-callout: none;
    border-radius: 2px;
}

/* Input file */
input[type='file'] {
    display: none;
}

.icon-checkbox {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    position: relative;
}

.icon-checkbox:hover {
    border-color: var(--primary-color);
}

input[type='checkbox']:checked + i {
    border-color: var(--primary-color);
}

input[type='checkbox']:checked + i::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    height: 12px;
    width: 12px;
    background-color: var(--primary-color);
    border-radius: 2px;
}

/* Radio */
input[type='radio'] {
    display: none;
}

.icon-radio {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: relative;
}

.icon-radio:hover {
    border-color: var(--primary-color);
}

input[type='radio']:checked + i {
    border-color: var(--primary-color);
}

input[type='radio']:checked + i::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    height: 12px;
    width: 12px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

/* a */
a {
    text-decoration: none;
    color: var(--black-color);
    cursor: pointer;
}

/* Select option */
select {
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance: none;
    appearance: none;
    position: relative;
}

/*for IE10+*/
select::-ms-expand {
    display: none;
}

.icon-selectbox {
    font-size: 1.6rem;
    color: #333;
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 32px;
}
