.search__bus-middle {
    max-width: 936px;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.search__bus-content {
    width: 700px;
    margin: 0 auto;
}

.search__bus-content-filter {
    display: flex;
    margin-bottom: 35px;
    justify-content: space-around;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border: 1px solid #ced4da;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-select.filter-select {
    margin-right: 20px;
    height: 40px;
    width: 156px;
    border: none;
    padding: 0 16px;
    border-radius: 20px;
    background-color: rgba(99, 114, 128, 0.1);
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 15px;
}

select.custom-select {
    background-image: linear-gradient(45deg, transparent 50%, grey 0), linear-gradient(135deg, grey 50%, transparent 0);
    background-position: calc(100% - 24px) calc(1em + 2px), calc(100% - 18px) calc(1em + 2px);
    background-size: 6px 6px, 6px 6px;
    background-repeat: no-repeat;
}

select.custom-select:focus {
    border: none;
    outline: 0;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.trip-info {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 18px;
    padding: 0 16px;
    color: var(--text-color);
}

@media only screen and (max-width: 1024px) {
    .search__bus-content,
    .step-line-container,
    .search__bus-heading {
        width: 730px;
    }
}

@media only screen and (max-width: 600px) {
    .search__bus-content,
    .step-line-container,
    .search__bus-heading {
        width: 90%;
    }

    .step-line {
        position: relative;
        font-family: SFProText;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        font-weight: 600;
        padding-left: 15px;
        padding-right: 15px;
        height: 32px;
        font-size: 10px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .custom-select.filter-select {
        width: 70%;
        margin: 10px 5px;
        padding: 0 10px;
        height: 38px;
    }

    .search__bus-content-filter {
        flex-direction: column;
        align-items: center;
    }

    .trip-info {
        font-size: 14px;
        font-weight: 400;
        padding: 0;
    }

    .search__heading-place {
        font-size: 20px;
    }

    .search__heading-time {
        font-size: 14px;
    }

    .next-title > span {
        font-size: 10px;
    }

    .bus-option .bus-option-header {
        font-size: 22px;
    }

    .utilities {
        margin-top: 4px;
    }
}
