.notification {
    z-index: 9999;
    position: absolute;
    inset: 0px 10px auto auto;
    margin: 0px;
    transform: translate(-72px, 52px);
    width: 400px;
}

.notification-container {
    animation: fadeIn 0.3s ease;
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
    color: #1d2129;
    margin: 0;
    overflow: hidden;
    padding-left: 0;
    transition: all 0.3s ease-in-out;
    will-change: opacity, transform;
    width: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-8px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.notification-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
}

.notification-header h6 {
    font-size: 1.6rem;
    margin: 0;
}

.notification-content {
    overflow-y: auto;
}

.notification-list {
    align-items: center;
    background-color: var(--white-color);
    border-radius: 10px;
    cursor: default;
    display: flex;
    flex-direction: row;
    margin: 0 4px;
    padding: 8px 10px 8px 12px;
    transition: background-color 0.3s;
}

.notification-list:last-child {
    margin-bottom: 8px;
}

.notification-avatar {
    flex-shrink: 0;
    height: 40px;
    overflow: hidden;
    width: 120px;
    object-fit: contain;
}

.notification-message {
    color: var(--text-color);
    flex: 1 1;
    font-size: 1.4rem;
    line-height: 18px;
    padding: 0 10px 0 16px;
    word-break: break-word;
}

.notification-message > span > i {
    margin-left: 4px;
    font-size: 1.6rem;
    line-height: 18px;
    color: red;
}

@media only screen and (max-width: 600px) {
    .notification {
        transform: translate(0, 55px);
        width: 90%;
        inset: 0 21px auto auto;
    }
}
