.bus-option {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #dde2e8;
    margin-bottom: 20px;
}

.bus-option .bus-option-header {
    font-size: 24px;
}

.utilities {
    float: right;
}

.utilities > img:first-child {
    margin-right: 5px;
}

.utilities > img:last-child {
    margin-left: 5px;
}

.bus-option-header > svg {
    margin-bottom: -4px;
}

.bus-option-label {
    color: var(--text-color);
    margin: 16px 0 16px;
    font-size: 15px;
    font-weight: 500;
    width: 340px;
    border-radius: 16px;
    padding: 5px 8px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(99, 114, 128, 0.1);
    align-items: center;
}

.bus-option-label > .dot {
    display: inline-block;
    width: 6px;
    border-radius: 3px;
    height: 6px;
    opacity: 0.3;
    margin: 3px 12px;
    background-color: var(--text-color);
}

.bus-line-content {
    display: flex;
    margin-bottom: 20px;
}

.bus-line-list {
    flex: 1;
}

.bus-line {
    position: relative;
    font-weight: 500;
    font-size: 15px;
    color: #333;
    border-left: 2px dotted #c0c6cc;
    padding-left: 22px;
    margin-left: 8px;
}

.bus-line > img {
    width: 16px;
    height: 16px;
    top: 0;
    left: -9px;
    position: absolute;
}

.bus-line > div {
    font-size: 14px;
    color: #00613d;
    line-height: 48px;
}

.bus-line > span {
    font-size: 16px;
    line-height: 16px;
}

.action {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #01613d;
    font-size: 13px;
    font-weight: 500;
    width: 34px;
}

.action > img {
    width: 22px;
    height: 22px;
    margin-bottom: 5px;
}

.bus-option.selected {
    border: 3px solid #f2754e;
}

.action .selected {
    color: #f2754e;
}

.time-line-content {
    border-radius: 8px;
    border: 1px solid #ebedee;
    background-color: #f8f9f9;
    width: 464px;
    font-family: SFProText;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-weight: 400;
    margin: 0 auto 15px;
}

.title-content {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ebedee;
    cursor: pointer;
}

.title {
    text-align: center;
    margin: 12px 0;
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 700;
}

table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.table {
    width: 100%;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
}

.time-td {
    display: flex;
    align-items: center;
}

.sub-title {
    font-size: 15px;
    font-weight: 500;
    color: #4a4a4a;
}

.sub-title-time,
.sub-title-station {
    text-align: center;
}

.desc {
    font-size: 13px;
    color: #637280;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.table > thead > tr > td {
    line-height: 2.4rem;
    vertical-align: top;
}

.time {
    font-size: 15px;
    color: #4a4a4a;
    width: 120px;
    text-align: center;
}

.time-td > i {
    width: 16px;
    font-size: 20px;
    height: 20px;
    color: #4a4a4a;
}

.time-map {
    display: none;
}

/* Seat */

.seat-map-content {
    min-width: 464px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 16px;
    padding-bottom: 16px;
}

.seat-map-content-active {
    min-width: 464px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 16px;
    padding-bottom: 16px;
}

.seat-map-content-disabled {
    display: none;
}

.seat-map-content-wrap {
    background-color: #f8f9f9;
    display: flex;
    flex-direction: column;
    min-width: 464px;
    border-radius: 8px;
    border: 1px solid #ebedee;
}

.seat-map-title {
    height: 48px;
    width: 100%;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: #4a4a4a;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #ebedee;
}

.seat-map-title > div {
    flex: 1;
    text-align: center;
    line-height: 48px;
}

.seat-map-table {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.seat-map-table-content {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    background-color: #f8f9f9;
    margin: 10px 10px;
    width: 100%;
}

.seat-map-table-content > ul ~ ul {
    padding-left: 20px;
}

.seat-map-table-content li {
    margin: 10px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.seat-table {
    margin: 20px 0;
    background: none !important;
    display: flex;
    justify-content: center;
    background-color: #6495ed;
}

.table > tbody > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

td {
    border: none;
    padding: 6px;
}

.seat {
    max-width: 42px;
    max-height: 42px;
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    cursor: pointer;
    pointer-events: none;
}

.disabled-seat {
    fill: #d5d9dd;
    stroke: silver;
    cursor: not-allowed;
}

.animated-background {
    cursor: wait !important;
    width: 42px;
    height: 42px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer-data-v-7d216ab5;
    animation-name: placeHolderShimmer-data-v-7d216ab5;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #929597;
    background: linear-gradient(90deg, #eee 8%, #ddd 18%, #eee 33%);
    border-radius: 8px;
    background-size: 800px 104px;
    position: relative;
}

.hidden {
    display: none;
}

.active {
    fill: #def3ff;
    stroke: #96c5e7;
}

.active-seat-text {
    fill: #637280;
    font-size: 14px;
    font-weight: 500;
}

.seat-status {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 14px;
    width: 100%;
    flex-direction: row;
}

.status-item {
    display: flex;
}

.status-item-text {
    line-height: 20px;
    margin-left: 6px;
    font-size: 16px;
    font-weight: 400;
    color: #637280;
}

.status-item-active {
    border: 1px solid #cbe2f3;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #eff9ff;
}

.status-item-select {
    border: 1px solid #f8beab;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #fdede8;
}

.status-item-disabled {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #919ba5;
    background-color: #c0c6cc;
}

.footer-seat-map {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 15px;
    color: #4a4a4a;
    padding: 0 20px;
}

.footer-seat-map > div {
    flex: 1;
}

.info-ticket {
    padding-bottom: 10px;
}

.arrow-next {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    font-size: 24px;
    float: right;
}

.selecting {
    fill: #fdede8;
    stroke: #f8beab;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.alert {
    padding: 15px;
    margin: 20px 0;
    border-radius: 4px;
    text-align: center;
}

.alert > span {
    font-size: 1.8rem;
}

.booking-back-btn {
    font-family: SFProText;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 720px;
    margin: 40px auto 40px;
    flex-wrap: wrap;
}

.left-btn {
    justify-content: flex-start;
    margin-right: 16px;
    display: flex;
    flex: 1;
}

.back-btn {
    border-radius: 24px;
    border: 1px solid #c0c6cc;
    background-color: #fff;
    color: #111;
    padding-right: 36px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    width: 100%;
    height: 48px;
    white-space: nowrap;
}

.back-btn > i {
    margin-right: 18px;
    width: 24px;
    object-fit: cover;
    font-size: 3rem;
}

.back-btn > span {
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.activeInfo {
    display: block;
}

@media only screen and (max-width: 1024px) {
    .left-btn {
        margin: 0;
    }

    .back-btn {
        padding: 0;
    }
}

@media only screen and (max-width: 600px) {
    .bus-option-label {
        width: 286px;
        font-size: 12px;
        padding: 5px 8px;
    }

    .seat-map-content-active {
        min-width: 0;
        padding: 0px 14px;
    }

    .desc {
        -webkit-line-clamp: 5;
    }

    .bus-option .bus-option-header {
        font-size: 22px;
    }

    .utilities {
        margin-top: 4px;
    }

    .time-line-content {
        width: 280px;
    }

    .seat-map-content-wrap {
        min-width: 0;
        width: 100%;
    }

    .seat-map-table-content {
        gap: 10px;
        padding-left: 10px;
        margin: 10px 0px;
    }

    .seat-map-content {
        min-width: 280px;
    }

    .seat-map-table-content li {
        margin: 20px;
    }
    .seat-map-active {
        border-bottom: 2px solid var(--primary-color);
        color: var(--primary-color);
    }

    .hide-mb {
        display: none;
    }

    .status-item-text {
        font-size: 14px;
    }

    .footer-seat-map {
        flex-direction: column;
    }

    .info-ticket {
        padding-bottom: 20px;
    }

    .seat-map-table-content > ul ~ ul {
        padding-left: 14px;
    }

    .booking-back-btn {
        max-width: 400px;
        width: 100%;
        margin: 40px 0;
    }

    .back-btn {
        padding: 0;
    }

    .alert > span {
        font-size: 1.4rem;
    }

    .back-btn > i {
        margin-right: 8px;
    }

    .left-btn {
        margin: 0;
    }

    .btn--large {
        width: 150px;
    }
}
