@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 9999;
    box-shadow: 0 1px 4px 0 rgb(128 128 128 / 20%);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.icon-menu,
.icon-search {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    height: 68px;
    justify-content: space-between;
}

.navbar__logo-link {
    text-decoration: none;
}

.navbar__logo {
    margin-right: 70px;
}

.navbar__logo .navbar__logo-img {
    height: 40px;
}

.navbar__select {
    height: 100%;
    flex: 1 1;
    display: flex;
    justify-content: flex-end;
}

.navbar__category {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar__category-item {
    padding: 0 15px;
    cursor: pointer;
}

.navbar__category-item--active .navbar__category-link,
.navbar__category-item--active .navbar__category-icon,
.navbar__category-link:hover,
.navbar__category-icon:hover,
.navbar__category-icon {
    color: var(--primary-color);
}

.navbar__category-icon {
    font-size: 2rem;
    margin-right: 12px;
    color: var(--black-color);
}

.navbar__category-item,
.navbar__category-link {
    display: inline-block;
    font-size: 12px;
    transition: all 0.1s;
    color: #1a202c;
    text-decoration: none;
    font-weight: 600;
    border: none;
    background-color: transparent;
}

.navbar__category-item,
.navbar__category-link,
.navbar__category-icon {
    display: flex;
    align-items: center;
}

.navbar__category-item:hover > .navbar__category-link,
.navbar__category-item:hover > .navbar__category-icon,
.navbar__category-link:hover,
.navbar__category-icon:hover {
    color: var(--primary-color);
}

.navbar__select__remove {
    display: none;
}

.navbar__select__remove > h4 {
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 1.6rem;
    color: var(--text-color);
}

.navbar__search {
    display: none;
}

.navbar__category-link .navbar__category-submenu {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
    margin-right: 0;
    font-size: 1.8rem;
}

.btn-home {
    display: flex;
    align-items: center;
}

.overlay {
    -webkit-animation: overlay 0.5s ease;
    animation: overlay 0.5s ease;
    background-color: #000;
    height: 100%;
    inset: 0;
    opacity: 0.5;
    position: fixed;
    transition: opacity 0.5s ease;
    width: 100%;
    z-index: 9999;
}

@keyframes overlay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 5;
    }
}

.notification-btn {
    font-size: 2rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1024px) {
    .navbar__logo {
        margin-right: 0;
    }

    .navbar__logo .navbar__logo-img {
        height: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .navbar__category-home,
    .navbar__category-contact,
    .navbar__category-cart {
        display: none;
    }
    .navbar__logo {
        display: none;
    }

    .body {
        overflow-y: hidden;
    }

    .icon-menu {
        text-align: center;
        display: block;
        font-size: 35px;
        cursor: pointer;
        line-height: 36px;
    }

    .navbar__select {
        position: fixed;
        display: block;
        height: 100vh;
        width: 100vw;
        background: var(--white-color);
        left: -100%;
        top: 0;
        z-index: 999999;
        overflow-y: overlay;
        text-align: center;
        transition: left 0.5s ease;
    }

    .navbar__select.active {
        left: 0;
    }

    .navbar__select__remove {
        padding-top: 30px;
        align-items: center;
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid #e8e8e8;
    }

    .navbar__category-item {
        margin-top: 20px;
        border-bottom: 1px solid #e8e8e8;
        padding: 0;
    }

    .navbar__category-home {
        margin-top: 50px;
    }

    .btn-home {
        position: absolute;
        display: block;
        top: 0px;
        right: 0;
        padding: 15px 0;
    }

    .btn__remove-label {
        line-height: 10px;
    }

    .navbar__category-item:hover > .navbar__category-link,
    .navbar__category-item:hover > .navbar__category-icon,
    .navbar__category-link:hover,
    .navbar__category-icon:hover {
        color: var(--black-color);
    }

    .navbar__category-item--active .navbar__category-link,
    .navbar__category-item--active .navbar__category-icon,
    .navbar__category-link:hover,
    .navbar__category-icon:hover,
    .navbar__category-icon {
        color: var(--black-color);
    }
}
