/* Sidebar */
.navbar__menu {
    display: none;
}

.navbar__menu-user {
    display: flex;
    padding: 15px 0;
}

.navbar__menu-img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.navbar__menu-title {
    font-size: 1.6rem;
    line-height: 1.6rem;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.navbar__menu-body {
    margin-top: 10px;
}

.navbar__menu-list {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 12px;
}

.navbar__menu-item {
    font-size: 1.4rem;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__menu-item-link {
    position: relative;
    display: flex;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 20px 0;
    align-items: center;
    color: #333;
    border: none;
    background-color: transparent;
}

.navbar__menu-item-link > i {
    color: #757575;
    display: inline-block;
    margin-right: 16px;
    text-align: center;
    width: 20px;
    font-size: 2rem;
}

.sidebar-arrow {
    color: #757575;
    width: 20px;
    font-size: 2.2rem;
}

.navbar__menu-item-link > span {
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.navbar__menu-list:last-child {
    margin-bottom: 40vh;
    border: none;
}

.navbar__menu-list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.079);
}

.back-current-sidebar {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    margin-top: 20px;
    font-weight: 700;
}

.arrow-sidebar-left {
    margin-right: 18px;
    font-size: 1.8rem;
}

.navbar__select-back {
    display: flex;
    font-size: 1.4rem;
}

.navbar__select-back > h2 {
    text-align: center;
    font-size: 2rem;
}

@media only screen and (max-width: 600px) {
    .navbar__menu {
        display: block;
    }

    .navbar__category-info {
        display: none;
    }
}
